/*Para que el padding no afecte el tamaño de un elemento inline-block*/
* {box-sizing: border-box; }

body {
    font-family: 'Oxygen', sans-serif; /*Font family de google fonts*/
    color: #757575;
    font-size: 17px;
    line-height: 1.6;
}
body section:nth-child(odd) {
    background-color: whitesmoke;
}
.home-wrapper {
    /*Coloco la imagen de fondo para el header y la coloco oscura*/
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/background.jpg') no-repeat center top;
    background-size: cover;
    color:white;
}
/*IMPORTANTE: Espacio interno del header y agregando position,margin y width para que el navbar se lleve bien con el flexbox*/
header {
    position: fixed;
    margin: auto;
    width: 100%;
}
/*Margen superior de la barra de navegacion y organizacion de esta*/
header nav {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ); 
}
/*Espacio entre los links y aspecto de estos*/
header nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: 0.9em;
    transition: color ease 0.5s; 
}

header .active {
    color: #0399D2;
}

header nav a:hover {
    color: #0399D2;
}

#home {
    text-align: center;
    padding: 215px 0 215px;
}

#home h1 {
    font-size: 3em;
}

#home p {
    font-size: 1.5em;
}

#home .social {
    margin-top: 80px;
}
/*Colocando, distribuyendo y decorando los iconos*/
#home .social a {
    color: white;
    display: inline-block;
    border-radius: 50%; /*Para que tenga forma de circulo */
    border: 1px solid white;
    font-size: 24px; /*Incrementar el tamaño de los iconos*/
    font-weight: bold;
    height: 50px; /*Incrementar tamaño del circulo*/
    width: 50px;
    margin-right: 15px;
    line-height: 50px; /*Para centrar los iconos*/
}

#home .social a:hover {
    background-color: white;
    color: #1a8cff;
    animation: bounceIn 0.5s;
}

#home .social a:hover .fa-facebook-f  {
    color: #1157CA;
}

#home .social a:hover .fa-linkedin  {
    color: #0F459E;  
}

#home .social a:hover .fa-github  {
    color: #000000;  
}

/*Prueba de organizacion para profile usando flex*/
#profile h2, #education h2, #portfolio h2 {
    color: #555555;
    font-size: 3em;
}
#profile .container { 
    display: flex;
    justify-content: center;
}

/*Prueba, colocando imagen como background */
#profile .container .box:nth-child(1) {
    background-image: url('../images/Profile.jpeg');
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#profile .container .box:nth-child(2) {
    padding: 15px;
    margin-left: 10px;
    width: 70%;
}

#education .container {
    display: flex;
    justify-content: space-between;
}

#education .container h3 a {
    text-decoration: none;
    color: #0399D2;
}

#education .container .box {
    width: 45%;
}

#portfolio .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#portfolio .container h3 a {
    text-decoration: none;
    color: #0399D2;
}

#portfolio .container .box {
    width: 30%;
    margin: 1%;
    text-align: center;
}

#portfolio .container .box img {
    width: 100%;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
}

#contact {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    color: white;
}

#contact h2 {
    font-size: 3em;
}

#contact .container {
    display: flex;
    justify-content: space-between;
}

#contact .container .box:nth-child(2) {
    text-align: center;
}

#contact .container .box:nth-child(2) a {
    padding: 0 15px;
}

#contact input {
    padding: 20px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact textarea {
    margin: 20px 0; 
    padding: 20px;
    width: 500px;
}

#contact button {
    background-color: rgba(85, 85, 85, 0);
    padding: 20px 40px;
    border-color: white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

#contact button:hover {
    background-color: black;
}

#contact a {
    text-decoration: none;
    color: white;
}

section {
    padding: 80px 0px;
}

section h2 {
    text-align: center;
    margin-bottom: 10px;
}
/*Agregando dividers en cada seccion*/
.divider {
    width: 80px;
    border-top: 3px solid #0399D2;
    margin: 0 auto;
    margin-bottom: 60px;
}

/*Esto me mantiene un margen en toda la pagina*/
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*Media querie para mobile devices*/
@media (max-width: 768px) {
    #profile .container {
        flex-wrap: wrap;
    }

    #profile .container .box:nth-child(2) {
        width: 100%;
    }

    #education .container {
        flex-wrap: wrap;
    }

    #education .container .box {
        width: 100%;
    }

    #portfolio .container {
        flex-wrap: wrap;
    }

    #portfolio .container .box {
        width:100%;
    }

    #contact .container .box:nth-child(2) a {
        display: block;
        margin: 15px 0;
    }
}